<h1><%= hikeData.title %> Details</h1>
<form method='POST' action='/profile/favorites'>
    <input hidden type='hidden' name='title' value='<%= hikeData.title %>'>
    <input type='hidden' name='redirectRoute' value='show'>
    <button type='submit'>Save This Hike</button>
</form>
<h2>Region: <%= hikeData.region %></h2>
<img src='<%= hikeData.imgUrl %>' class='showPic'> 
<h3>Distance: <%= hikeData.distance %></h3>
<h3>Highest Point: <%= hikeData.height %></h3>
<h3>Description:</h3>
<p><%= hikeData.description %></p>

<h2>See Other Users Stories</h2>
<% if(hikeEntries.length > 0) { %>
    <% hikeEntries.forEach(entry => { %>
        <p> <%= entry.userId %> </p> 
       <p> <%= entry.body %> </p> 
    <% }) %>
<% } else { %>
    <p> There are no comments for this hike.</p>
    <p>Add a comment of your own through your personal blog!</p>
    <a href='/profile/blog'>My Blog</a>
<% } %>
